<?xml version="1.0" encoding="utf-8"?>
<manifest package="sauerapps.betterbetterrx"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>

    <action android:name="android.intent.action.HEADSET_PLUG"/>

    <application
        android:name=".app.FirebaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyTheme">
        <activity
            android:name=".features.newsfeed.MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".features.newsfeed.MainActivity"/>
        </activity>
        <activity android:name=".app.authentication.login.LoginActivity">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".app.authentication.createAccount.CreateAccountActivity"
            android:label="@string/title_activity_create_account"
            android:parentActivityName=".app.authentication.login.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".app.authentication.login.LoginActivity"/>
        </activity>
        <activity
            android:name=".features.meditation.AudioActivity"
            android:parentActivityName=".features.newsfeed.MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".features.journal.JournalActivity">
        </activity>

        <activity
            android:name=".features.journal.journalListDetails.JournalListDetailsActivity"
            android:label="@string/title_activity_list_details"
            android:parentActivityName=".features.newsfeed.MainActivity"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".features.newsfeed.MainActivity" />
        </activity>

        <activity
            android:name=".features.journal.SettingsActivity"
            android:label="@string/action_settings" />

        <activity
            android:name=".features.newsfeed.sharing.audioSharing.ShareMainActivity"
            android:label="@string/title_activity_share_list"
            android:parentActivityName=".features.newsfeed.MainActivity"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".features.newsfeed.MainActivity" />
        </activity>

        <activity
            android:name=".features.newsfeed.sharing.addingFriend.AddFriendActivity"
            android:label="@string/title_activity_add_friend"
            android:parentActivityName=".features.newsfeed.sharing.audioSharing.ShareMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".features.newsfeed.sharing.audioSharing.ShareMainActivity"/>
        </activity>
    </application>

</manifest>
