<?xml version="1.0" encoding="utf-8"?>
<manifest package="sauerapps.betterbetterrx"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!-- for when user locks screen -->

    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>

    <action android:name="android.intent.action.HEADSET_PLUG"/>

    <application
        android:name=".app.BetterBetterApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyTheme">
        <activity
            android:name=".features.newsfeed.MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".features.newsfeed.MainActivity"/>
        </activity>
        <activity android:name=".features.authentication.login.LoginActivity">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".features.authentication.createAccount.CreateAccountActivity"
            android:label="@string/title_activity_create_account"
            android:parentActivityName=".features.authentication.login.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".features.authentication.login.LoginActivity"/>
        </activity>
        <activity android:name=".features.meditation.MeditationActivity">
        </activity>
    </application>

</manifest>
